<div class="card">
    <div class="card-image">
        <figure class="image">
            <div class="picture" style="background-image: url({{ include.post.image }})"></div>
            <img class="is-hidden" src="{{ include.post.image }}" alt="">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-3">{{ include.post.title }}</p>
                <p class="subtitle is-6">{{ include.post.subtitle }}</p>
            </div>
        </div>

        <div class="content">
            <div class="desc">
                {{ include.post.description }}
            </div>
            <small>{{ include.post.date | date: "%b %-d, %Y"}}</small>
        </div>
    </div>
    <style>
        .card {
            max-width: 280px;
            margin: 0 auto;
        }
        
        .card .card-content .title + .subtitle {
            margin-top: 0;
        }
        
        .card .card-content .desc {
            border-bottom: 1px solid #eee;
            margin-bottom: 12px;
            padding-bottom: 16px;
        }
        
        .card .picture {
            height: 150px;
            background-position: center center;
            background-size: cover;
        }
    </style>
</div>