<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{ include.post.image }}" alt="">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-3">{{ include.post.title }}</p>
                <p class="subtitle is-6">{{ include.post.subtitle }}</p>
            </div>
        </div>

        <div class="content">
            <div class="desc">
                {{ include.post.description }}
            </div>
            <small>{{ include.post.date | date: "%b %-d, %Y"}}</small>
        </div>
    </div>
</div>