<section class="hero case is-primary is-medium">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">

    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container ">
            <div class="columns">
                <div class="column has-text-centered">
                    <img src="/static/images/angular-morris.svg" alt="Angular Morris Chart">
                </div>
                <div class="column info">
                    <h1 class="title is-2">I wrote Angular Morris</h1>
                    <h2 class="subtitle is-4">
                        A simple wrapper to charts with Morris.js and Angular
                    </h2>
                    <a class="button is-light is-outlined is-medium" href="https://angular-morris.io/">Home</a>
                    <a class="button is-light is-outlined is-medium" href="https://angular-morris.io/docs/">Get Started</a>
                    <a class="button is-light is-outlined is-medium" href="https://github.com/st1s/angular-morris/releases">Changelog</a>
                </div>

            </div>

        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">

    </div>
    <style>
        .hero.case img {
            width: 215px;
        }
        
        .hero.case .subtitle {
            line-height: 23px;
            font-size: 17px;
        }
        
        @media (max-width: 768px) {
            .hero.case .column.info {
                text-align: center
            }
        }
        
        @media (min-width: 768px) {
            .hero.case .column.info {
                padding-top: 57px;
            }
        }
        
        .hero.case .button.is-medium {
            font-size: 15px;
        }
    </style>
</section>