<section class="hero case is-danger is-medium">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">

    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container ">
            <div class="columns">
                <div class="column info has-text-right">
                    <h1 class="title is-2">I created Appfy</h1>
                    <h2 class="subtitle is-4">
                        Free javascript generator to working fast with Single Pages Apps
                    </h2>
                    <a class="button is-light is-outlined is-medium" href="https://appfy.org/">Home</a>
                    <a class="button is-light is-outlined is-medium" href="https://docs.appfy.org/">Get Started</a>
                    <a class="button is-light is-outlined is-medium" href="https://github.com/Appfy/appfy/releases">Changelog</a>
                </div>

                <div class="column has-text-centered">
                    <img src="/static/images/appfy.svg" alt="Appfy">
                </div>

            </div>

        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">

    </div>
    <style>
        .hero.case img {
            width: 215px;
        }
        
        .hero.case .subtitle {
            line-height: 23px;
            font-size: 17px;
        }
        
        @media (max-width: 768px) {
            .hero.case .column.info {
                text-align: center
            }
        }
        
        @media (min-width: 768px) {
            .hero.case .column.info {
                padding-top: 57px;
            }
        }
    </style>
</section>