<!-- favicon -->
<link rel="shortcut icon" href="/static/favicon.png">

<!-- Third-party CSS -->
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
<link href="/static/modules/st1s-present/st1s-present.min.css" rel="stylesheet">
<link href="/static/bower_components/highlightjs/styles/monokai_sublime.css" rel="stylesheet">
<link href="/static/css/bulma.css" rel="stylesheet">
<link href="/static/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/github-markdown.css" rel="stylesheet">
<link href="/static/css/theme.css" rel="stylesheet">