<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-brand" href="/">
            <img class="st1s" src="/static/images/{% if (include.logo) %}{{ include.logo }}{% else %}st1s-logo-h-silver.svg{% endif %}"
                alt="Stewan Pacheco">
        </a>
    </div>

    <div class="nav-center">
        <a class="nav-item" href="{{ site.github }}">
            <span class="icon">
        <i class="fa fa-github"></i>
      </span>
        </a>
        <a class="nav-item" href="{{ site.twitter }}">
            <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
        </a>
        <a class="nav-item" href="{{ site.facebook }}">
            <span class="icon">
        <i class="fa fa-facebook-official"></i>
      </span>
        </a>
    </div>

    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>

    <div class="nav-right nav-menu">
        <a class="nav-item" href="/">
      Home
    </a>
        <a class="nav-item" href="/categories/">
      Categories
    </a>      

        <span class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        <span>Tweet</span>
        </a>      
        </span>
    </div>
    <style>
        .nav img.st1s {
            height: 68px;
            width: 131px;
            max-height: inherit;
        }
    </style>
</nav>