<a class="nav-item" href="{{ site.github }}">
    <span class="icon">
        <i class="fa fa-github"></i>
      </span>
</a>
<a class="nav-item" href="{{ site.twitter }}">
    <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
</a>
<a class="nav-item" href="{{ site.google }}">
    <span class="icon">
        <i class="fa fa-google-plus"></i>
      </span>
</a>
<a class="nav-item" href="{{ site.facebook }}">
    <span class="icon">
        <i class="fa fa-facebook-official"></i>
      </span>
</a>