<section class="hero case is-info is-medium">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">

    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container ">
            <div class="columns">
                <div class="column info has-text-right">
                    <h1 class="title is-2">Rivas - O Rei da Pipa</h1>
                    <h2 class="subtitle is-4">
                        Mobile and social media for councilman candidate Rivas
                    </h2>
                    <a class="" href="https://play.google.com/store/apps/details?id=br.com.rivas45333"><img style="width: 120px" src="/static/images/googleplay.png" alt="Available on Google Play"></a>
                </div>
                <div class="column has-text-centered v-center">
                    <img style="width: 295px" src="/static/images/rivas.svg" alt="Rivas - O Rei da Pipa">
                </div>


            </div>

        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">

    </div>
    <style>
        .hero.case img {
            width: 215px;
        }
        
        .hero.case .subtitle {
            line-height: 23px;
            font-size: 17px;
        }
        
        @media (max-width: 768px) {
            .hero.case .column.info {
                text-align: center
            }
            .hero.case .v-center {
                height: auto !important;
            }
        }
        
        @media (min-width: 768px) {
            .hero.case .column.info {
                padding-top: 57px;
            }
        }
        
        .hero.case .v-center {
            height: 195px;
        }
    </style>
</section>