.title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.title.is-4 {
    line-height: 29px;
}

.subtitle {
    line-height: 20px;
}

.post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content ul, .post-content ol, .post-content .tags, .post-content iframe, .post-content .card -post {
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
    margin: 1.875rem auto 1.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.6;
    letter-spacing: .01rem;
}

.post-content pre {
    background-color: #333;
    width: 100%;
    padding: 2.50rem 0;
    color: #eee;
}

.post-content pre code {
    background-color: transparent;
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
    font-size: 1.125rem;
}

.post-content img {
    margin: 20px auto;
    display: inherit;
}

.post-content {
    padding-left: 0;
    padding-right: 0;
}

.post-content iframe {
    width: 100%
}

.post-content ul li { list-style-type: square }

@media (max-width: 769px) {
    .post-content img {
        max-width: 113%;
        left: -18px;
        top: 5px;
        position: relative
    }
}

.heart {
    margin: 0 5px;
    width: 8px;
    height: 8px;
    background-color: #c33d3e;
    position: relative;
    display: inline-block;
    animation: pulse .9s infinite alternate ease-in
}

.heart:before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c33d3e;
    position: absolute;
    top: 0;
    left: 50%;
    content: ""
}

.heart:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c33d3e;
    position: absolute;
    top: 50%;
    left: 0;
    content: ""
}

@-moz-keyframes pulse {
    from {
        transform: rotate(-135deg) scale(1)
    }
    to {
        transform: rotate(-135deg) scale(1.2)
    }
}

@-webkit-keyframes pulse {
    from {
        transform: rotate(-135deg) scale(1)
    }
    to {
        transform: rotate(-135deg) scale(1.2)
    }
}

@-o-keyframes pulse {
    from {
        transform: rotate(-135deg) scale(1)
    }
    to {
        transform: rotate(-135deg) scale(1.2)
    }
}

@keyframes pulse {
    from {
        transform: rotate(-135deg) scale(1)
    }
    to {
        transform: rotate(-135deg) scale(1.2)
    }
}